body, *{
    margin: 0;
    padding: 0;
}
.container {
    width: 630px;
    margin: 0 auto;
    background-color: rgb(219, 215, 208);
    font-family: Arial, Helvetica, sans-serif;
    border-radius:10px;
}
.container nav  {
    padding: 15px 10px 20px 30px;  
    
}

.container nav ul {
    padding: 0;
    margin-bottom: 20px;
}

.container nav a {
    color:rgb(24, 117, 204) ;
}
nav p {
    text-align: center;
    font-size: 12px;
    color: rgb(73, 70, 70);
  
}
legend {
    text-align: center;
    font-size: 12px;
}
.container h1 {
    color: rgb(112, 109, 109);
    font-size: 14px;
    line-height: 20px;
    font-weight: 550;
    padding-bottom: 15px;
    width: 70%;
    margin: 0 auto;
   text-align:center;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.container ul  {
    display: inline-block;
    padding-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.container ul li {
    list-style: none;
    padding: 0;
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;

}
.registration {
    margin: 15px 50px;
    display: inline-block;
    
}
.registration-left:first-child {
    margin-bottom: 6px;
    display: inline-block;
}
.btn {
    font-size: 12px;
    display: inline-block;
    padding: 5px 40px;
    background-color: rgb(24, 117, 204);
    vertical-align: 15px;
  
}
.btn a {
    text-decoration: none;
    color: #fff;

}
